<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label" >Name</label>
            <input type="text" class="form-control" formControlName="userName">
            <span *ngIf="!userName.valid && userName.touched"
                  class="error-block"  >
            Please provide name.
            </span>
         </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control"  formControlName="email">
          <span *ngIf="!email.valid && email.touched"
          class="error-block">
          <span *ngIf="email.hasError('required')" >
            Please provide email.
          </span>
          <span *ngIf="email.hasError('email')" >
            Please provide valid email.
          </span>

    </span>
        </div>

        <div class="form-group col-12">
          <label for="password" class="form-label">Password</label>
          <input type="text" class="form-control" formControlName="password">
          <span *ngIf="!password.valid && password.touched"
          class="error-block">
          <span *ngIf="password.hasError('required')" >
            Please provide password.
          </span>
          <span *ngIf="password.errors && password.errors['minlength']" >
            Password should not be lesser than 8 characters
          </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="text" class="form-control" formControlName="confirmPassword">
          <span *ngIf="confirmPassword.touched"
          class="error-block">
          <span *ngIf="!confirmPassword.valid && confirmPassword.hasError('required')" >
            Please provide password.
          </span>
          <span *ngIf="confirmPassword.valid && registrationForm.hasError('notmatched')" >
            Password not matched.
          </span>
          </span>

        </div>

        <div class="form-group col-12">
          <button  type="submit" onclick="onSubmit()" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary m-2">Cancel</button>
        </div>
      </form>
      Form Values:{{registrationForm.value | json}}
     rew {{registrationForm.hasError('notmatched')}}
      Form Status:{{registrationForm.valid}}
    </div>
  </div>
  </div>
</div>
